test_3d_points.py
to_send.py
extrinsics.json
extrinsics_structured.csv
extrinsics_structured_zhang.csv
extrinsics_struc_model_masked.json
homography.py
import_cameras.py
sift.py
struc_model.txt
struc_model_masked.txt
test.py
__pycache__/
extrinsics_struc_model.json
csv_import.csv
calibrate_mm.json
README.md.backup
README.pdf
README.docx
README.tex
scripts/additional/import_cameras_from_colmap.py
